# Node modules
node_modules/

# Logs
logs
*.log
npm-debug.log*

# Environment variables
.env
.env.*

# Terraform
*.tfstate
*.tfstate.*
.terraform/


# Terraform variable files
terraform.tfvars
*.auto.tfvars

# SSH keys
*.pem

# CloudWatch agent temp files
amazon-cloudwatch-agent.log